<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Echo Script {% endblock %}</title>

 <link rel="stylesheet" href="/static/css/output.css">
  </head>

  <body class="relative min-h-screen bg-gradient-to-br from-sky-100 via-gray-100 to-indigo-100">

{% include "components/navbar.html" %}
{% include "components/sidebar.html" %}
    <main>{% block content %} {% endblock %}</main>

    {% block scripts %} {% endblock %}
  <script src="{{ request.url_for('static', path='js/sidebar.js') }}"></script>

  </body>
</html>
